@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Confirmation";
}
<h1>Your Request is succesfully Submitted</h1>
<p>IT Department should contact you shortly. Thank You.</p>
