@model EquipmentManager_Assignment1.Models.Request;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Request Form";
}
<h2>Request IT Equipment</h2>

<form asp-action="RequestForm" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber">Phone Number</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Role"></label>
        <select asp-for="Role" asp-items="Html.GetEnumSelectList<RoleType>()" class="form-control">
            <option selected="selected" value="">Please select whether you are a Student or Professor</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Type"></label>
        <select asp-for="Type" asp-items="Html.GetEnumSelectList<EquipmentType>()" class="form-control">
            <option selected="selected" value="">Please select the device type</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="RequestDetails">Request Details</label>
        <textarea asp-for="RequestDetails" class="form-control"></textarea>
        <span asp-validation-for="RequestDetails" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Duration">Duration (Days)</label>
        <input asp-for="Duration" class="form-control" />
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>