@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="./images/logo.png" alt="logo"/>
    <h1>FAST Equipment Tool</h1>
    <p>Welcome to FAST Equipment Tool. Here you can borrow equipment from the IT department easily!</p>
    <p>Developed by Aanjaneya Gupta</p>
</div>
